@import './../../common-scss/variables.scss';
//mixin
@mixin dark-display{
    color: $dark-color;
    display: $display-block;
}
@mixin HeartIconProperties{
                background-repeat: no-repeat;
                background-size: 100%;
                width: 24px;
                height: 20px;
                margin-top: 10px;
}
.products {
     @include phone-only{
        padding-top: 18px;
    }
    @include desktop-md{
        padding-top: 35px;
    }
    .crumbs--filters{
        @include phone-only{
            display: block;
        }
        @include tablet-portrait{
            display: none;
        }
        padding-bottom: 25px;
        a{
            text-decoration: none;
            color: $dark-color;
            padding-right: 5px;
            &:last-child{
                padding-left: 5px;
                color: $dark-light;
            }
        }
    }
    .products__hide--lightbox{
        display: $display-none;
    }
    .products__show--lightbox{
        position: $position-absolute;
        width: 100%;
        top: 0;
        right: 0;
        background: $white-color;
      /*  &:before {
            content: '';
            position: $position-absolute;
            box-shadow: 0px 8px 16px #aaa;
            width: 18px;
            height: 100%;
        } */
        .products__cross--mobile {
            position: $position-absolute;
            right: 18px;
            top: 9px;
            color: $dark-gunmental;
            font-size: 20px;
            cursor: pointer;
        }
         .products__filters{
            display: $display-block;
        .crumbs{
            display: $display-none;
        }
       }
    } 
    .products__filters{
        @include phone-only{
            display: $display-none;
            padding-right: 0px;
        }
        @include min769x{
            display: $display-block;
            padding-right: 10px;
        }
        @include min769x{
            padding-right: 30px;
        }
        .crumbs{
            @include min769x{
                margin-top: 9px;
            }
        }
    }
    select{
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #B5B7BC;
        width: 250px;
        color: $dark-color;
        float: right;
        height: 44px;
        outline: 0;
    }
    .filters--sort{
         span{
            color: #181C24;
            text-decoration: underline;
            @include phone-only{
                margin-right: 14px;
            }
            @include min769{
                padding-right: 10px;
            }
         }
         .filters--sort__results{
            cursor: pointer;
             img{
            height: 14px;
            margin-right: 5px;
            }
        }  
         .filters--sort__products{
            img{
                height: 15px;
                width: 15px;
                cursor: pointer;
            }
            img:last-child{
                padding-right: 5px;
                margin-left: 3px;
            }
         }
    }
    .mobile--view{
        @include phone-only{
            display: $display-block;
            text-align: $t-align-center;
        }
        @include min769x{
            display: $display-none;
        }
    }
    .desktop--view{
        @include phone-only{
            display: $display-none;
        }
        @include min769x{
            display: $display-block;
        }
    }
    .products--box{
        padding: 25px 0;
        display: $display-flex;
        flex-wrap: wrap;
        row-gap: 20px;
        @include phone-only{
            justify-content: space-between;
        }
        @include min769x{
            justify-content: space-around;
        }
        @include desktop-md{
            justify-content: space-between;
        }
        a{
            text-decoration: $display-none;
        }
        .products--box__product{
            @include phone-only{
                width: 135px;
                height: 310px;
            }
            @include min375{
                width: 160px;
            }
            @include min769x{
                width: 220px;
                height: auto;
            }
            @include tablet-landscape{
                width: 200px;
            }
            @include min1200{
                width: 195px;
            }
            @include desktop-md{
                width: 220px;
            }
            
            
            .products--box__product__name{
                @include dark-display;
                font-family: $muli-semibold;
                display: $display-block;
                line-height: 20px;
                @include phone-only{
                    font-size: $font-size-16;
                }
                @include tablet-landscape{
                    font-size: $font-size-18;
                }
            }
            .products--box__product__price{
                @include dark-display;
                font-family: $muli-semibold;
            }
            .products--box__product__heart--icon{
                background-image: url(../../assets/images/heart-icon-white.png);
                @include HeartIconProperties;
            }
            .products--box__product__heart--icon--red{
                background-image: url(../../assets/images/heart-icon-red.png);
                @include HeartIconProperties;
            }
            img{
                @include phone-only{
                    width: 135px;
                    height: 170px;
                    box-shadow: 0px 1px 2px 1px #ccc;
                    padding: 12px;
                }
                @include min375{
                    width: 160px;
                    height: 180px;
                }
                @include min769x{
                    width:220px;
                    height: 310px;
                }  
                @include tablet-landscape{
                    width:200px;
                }
                @include min1200{
                    width: 195px;
                    height: 250px;
                }
                @include desktop-md{
                    width:220px;
                    height: 310px;
                }
                          
            }
        }
    }
    .dark--gunmental.semi-bold{
        @include phone-only{
            display: $display-block;
            width: 100%;
            text-align: $t-align-center;
            padding-top: 20px;
        }
        @include tablet-portrait{
            display:inherit;
            width: auto;
            text-align: left;
            padding-top: 0px;
        }
    }
    
    .filters {
        @include phone-only{
            padding: 0px;
            height: 100vh;
        }
        @include min769x{
            box-shadow: 0px 0px 0px #00000026;
            padding: 0px;
            margin-top: 30px;
        }
        /* .filters-mobile{
            padding-bottom: 6px;
           .filter-title {
                background: #E5E5E7;
                padding: 13px 15px 13px 20px;
               
                color: #1D1D1B;
                font-family: $muli-semibold;
                height: 55px;
            }
        }    */
        @include phone-only{   
            .filters-desktop{
                display: none;
                color: #181C24;
                font-size: $font-size-20;
            }
            .filters-mobile{
                display:$display-block;
            }
        }
        @include min769x{
            .filters-desktop{
                display: $display-block;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
            .filters-mobile{
                display:$display-none;
            }
        }   

            .filter-sub-title {
                font-size: $font-size-16;
                margin: 0;
                color: $grayd2;
                font-family: $muli-semibold;
                border-top: 2px solid #ccc;
                margin-top: 30px;
                @include phone-only{
                    margin: 10px 0px 8px 21px;
                    padding-top: 10px;
                }
                @include min769x{
                    padding: 10px 0px 8px 0px;
                    margin: 10px 0px 0px 0px;
                }
            }
            aside{
                div{
                    @include phone-only{
                        padding: 6px 0 6px 0px;
                    }
                    @include min769x{
                        padding: 6px 0;
                    }
                }
            }
            div {
                @include phone-only{
                    padding: 0px 0px;
                }
                @include min769x{
                    padding: 6px 0px;
                }
                input[type='checkbox']{
                    float: $float-left;
                    width: 22px;
                    height: 22px;
                    border: 2px solid $gray-light;
                    padding-right: 0px;
                }
                label{
                    color: $dark-gunmental;
                    font-family: $muli-normal;
                    padding-left: 8px;
                    font-size: $font-size-14;
                }
            }
            a{
                color: $grayd2;
                font-size: $font-size-14;
                display: $display-block;
                padding-top: 8px;
            }
        
        .show--women{
            display: block;
        }
        .hide--women{
            display: none;
        }
    }
    .products--count{
        @include phone-only{
            width: 100%;
            text-align: center;
            display: block;
            padding-top: 25px;
        }
        @include min769x{
            padding-top: 9px;
        }
    }

}
.show, .mens__products__show, .all__products__show, .jewelery__products__show, .electronics__products__show, .womens__products__show{display: block;}
.hide, .mens__products__hide, .jewelery__products__hide, .all__products__hide, .electronics__products__hide, .womens__products__hide{display: none;}