@import './../../common-scss/variables.scss';

.payment-method{
    .shipping--Method--edit {
        margin-top: 20px;
    }
    .credit--card{
        input{
            width: 21px;
            display: inline-block;
        }
        label {
            display: inline-block !important;
            vertical-align: top;
            padding-top: 12px;
            margin-left: 6px;
        }
    }
    .payment--information--heding{
        margin: 20px 0 10px 0;
    }
    .payment--information{
        .margin-bottom-20{
            margin-bottom: 15px;
        }
        .padding-right-20-mobile{
            @include phone-only{
                padding-right: 20px;
            }
        }
        .errorMsg{
            margin-top:0;
        }
        .question--mark img {
            width: 21px;
            height: 21px;
            margin-top: 28px;
        }
        .padding--right--zero{
             padding-right: 0;
        }
        .form--group{
            .cc--card--paypal{
                color: $dark-color;
                font-family: $muli-normal;
            }
            .font--normal{
                font-family: $muli-normal;
            }
        }
    }
    .paypal--border{
        border-top:1px solid $gray-light;
        border-bottom:1px solid $gray-light;
        padding: 16px 0;
        margin-top: 20px;
    }    
}
.show--card--details{
    display: block;
}
.hide--card--details{
    display: none;
}
.payment--information--div{
    .guest--checkout{
        margin-bottom: 30px;
    }
    .pricing-summary{
        margin-top: 33px;
        h6{
            margin: 0px 0px 10px 0px;
        }
    }
    .checkout--heading{
        position: relative;
        
        &:after {
            height: 6px;
            @include phone-only{
                right: 29px;
                top: 61px;
            }
            @include tablet-portrait{
                right: 45px;
                top: 80px;
                height: 8px;
            }
        }
        @include phone-only{
            width: 165px;
        }
        @include tablet-portrait{
            width: 216px;
            margin:20px auto 55px auto;
        }
    }
}
.review-order{
    .pricing-summary{
        @include phone-only{
            margin-top: 20px;
        }
        @include min769x{
            margin-top: 33px;
        }
    }
}