@import './../../common-scss/variables.scss';
@mixin buttonc {
    width: 247px;
    height: 40px;
    display: inline-flex;
    justify-content: $t-align-center;
    align-items: $t-align-center;
    border-radius: 28px;
    border:0;
    color: $white-color;
}
.shipping--method--page{
    .shipping--information--edit {
        border: 1px solid $gray-light;
        padding: 20px 25px;
        border-radius: 2px;
        span{
            display: $display-block;
            color: #535965;
        }
        .shipping--information--edit_heading {
            font-family: $muli-semibold;
            margin: 0;
            display: inline-block;
        }
        .edit {
            cursor: pointer;
            float: right;
            color: $primary-color;
            width: 55px;
            @include phone-only{
                width: 12px;
            }
            @include min600{
                width: 55px;
            }
            .edit--icon {
                width: 16px;
                margin-right: 8px;
            }
            .edit--title {
                font-family: $muli-semibold;
                float: right;
                color: $primary-color;
                @include phone-only{
                    display: none;
                }
                @include min600{
                    display: block;
                }
            }
        }
    }
    .shipping--method {
        .form--group{
            display: table;
            width: 100%;
            margin-bottom: 10px;
        }
        .method--rows{
            border-top: 1px solid $gray-light;
            margin-top: 40px;
            .method--rows__title{
                font-size: $font-size-20;
                font-family: $muli-semibold;
                border-bottom: 1px solid $gray-light;
                padding: 10px 0px;
                display: $display-block;
                color: $gray;
            }
        }
        .form--group{
            .standardShipping{
                float: left;
                width: 25px;
                margin-top: -5px;
                margin-right: 8px;
                @include phone-only{
                    height: 55px;
                }
                @include min375{
                    height:44px;
                }
            }
    }
   }
   form{
    @include phone-only{
        margin-right: 0px;
    }
    @include min769x{
        margin-right: 20px;
    }
   }
   .pricing-summary-box {
       @include phone-only{
        margin-top: 5px;
       }
       @include min769x{
        margin-top: 55px;
       }
    }
    .radio--group{
        label{
            font-family: $muli-normal;
            color: $dark-color;
        }
    }
    .margin--top--15{
        @include phone-only{
            margin-top: 15px;
        }
        @include min769x{
            margin-top: 0px;
        }
    }
}   
