@import './../../common-scss/variables.scss';

.successfull--page{
    .Order--heading{
        font-family: $muli-semibold;
        color: $dark-gunmental;
        position: relative;
       
        &::after{
            content: '';
            width: 100px;
            height: 12px;
            border-bottom: 10px solid $primary-color;
            position: absolute;
            @include phone-only{
                right: 93px;
                top: 48px;
            }
            @include tablet-portrait{
                right: 147px;
                top: 69px;
            }
        }
        @include phone-only{
            font-size: $font-size-33;
            margin: 10px auto 20px auto;
            width: 282px;
            text-align: $t-align-center;
        }
        @include tablet-portrait{
            width: 404px;
            font-size: $font-size-48;
            margin: 20px auto 35px auto;
        }
    }
    .guest--checkout{
        font-size: $font-size-20;
        font-family: $muli-semibold;
        margin: 28px 0px 15px 0px;
    }
}