@import './../../common-scss/variables.scss';
.product--estimation__content {
    margin-top: 44px;
    border-top: 1px solid $gray-light;
    display: $display-none;
    justify-content: $t-align-center;
    padding: 20px;
}
.product--estimation__show {
    display: flex;
}